/* Reset
****************************************/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Communs
****************************************/
html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--corpus-color);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}
section {
    padding: 4rem 0rem;
}

h1,
h2,
h3 {
    font-family: "Londrina Solid", display;
    color: var(--primary-color);
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

i {
    font-size: 90%;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
}
/* Structure
****************************************/
.row {
    display: flex;
    flex-flow: row wrap;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

/* Header
****************************************/
header {
    padding: 0.5rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

header > nav a {
    color: var(--primary-color);
}

header > nav a:hover {
    color: var(--primary-color-light);
}

header > nav a > i {
    font-size: 2rem;
    margin-right: 1rem;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    width: 100%;
    justify-content: end;
}

header > nav > ul > li {
    margin: 0 0.5rem;
}

/* Carte
**************************************************/

.brewery-card {
    max-width: 20rem;
    background-color: var(--secondary-color-lightest);
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 0.3rem;
}

.brewery-card p {
    margin: 0;
    padding: 0;
}

.brewery-card-name {
    margin: 1rem 0.5rem 1rem 0;
    padding: 0;
}

.brewery-card-details i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.brewery-card-details a {
    color: var(--primary-color);
}

.brewery-card-details a:hover {
    color: var(--primary-color-light);
}

.brewery-card-address-container {
    margin-bottom: 0.5rem;
}

.brewery-card-lococation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.3rem;
}

.brewery-card-state {
    font-style: italic;
}

.brewery-card-country {
    font-weight: 600;
}

.brewery-card-contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.brewery-card-contact > div {
    flex: 1 1 33%;
}

/* Hero section
**********************************************************/

.hero-container {
    background-image: url("../images/hero_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-container h1 {
    color: var(--secondary-color);
    font-size: 9rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    line-height: 0.8;
    /*0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6);*/
}
